.CodeMirror {
    background-color: #263238;
    color: rgba(233, 237, 237, 1);
}
.CodeMirror-gutters {
    background: #263238;
    color: #537f7e;
    border: none;
}
.card{
    background-color: #1d282e !important;
}
